doctype html
html.h-full(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Every Layout | Svelte
		meta(name='description', content='An implementation of the https://every-layout.dev/ components, using Svelte')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='style/index.css')
	body.min-h-full.h-full
		script(src='./script/index.ts')
